.button1{
    position: relative;
    width: 185px;
    height: 51px;
    background: linear-gradient(108.62deg, #5D5FEF 20.49%, #7879F1 46.52%, #A5A6F6 78.55%, #A5A6F6 78.55%);
    border-radius: 25.5px;
    top: 10px;
    left: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .button2 {
    position: relative;
    width: 185px;
    height: 51px;
    background: #A5A6F6;
    box-shadow: 0px 4px 4px rgba(111, 111, 111, 0.25);
    border-radius: 25.5px;
    top: 31px;
    left: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .button3{
    position: relative;
    width: 185px;
    height: 51px;
    background: #5D5FEF;
    border-radius: 25.5px;
    top: 51px;
    left: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .text{
    position: absolute;
    width: 85px;
    height: 29px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    }
    
    .button1:hover{
        background: rgb(81, 255, 0);
    }
    .button1:active{
        background: #ff0000;
    }
    
    .button2:hover{
        background-color: rgb(255, 0, 255);
    }
    .button2:active{
        background-color: #00e1ff;
    }
    
    .button3:hover{
        background-color: rgb(255, 251, 0);
    }
    .button3:active{
        background-color: #f54e00;
    }